/* App.css */

/* Root container */
.App {
  min-height: 100vh;
  font-family: system-ui, sans-serif;
  display: flex;
  flex-direction: column;
}



/* 🌙 Dark mode */
@media (prefers-color-scheme: dark) {
  .App {
    background: #0f172a;
    color: #f1f1f1;
  }

  
}
